.cartContain{
    padding: .5rem;
}

.cart{
    font-size: 1.2em;
    color: white;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

.carrito{
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: white;
}

.clear{
    margin-right: 1rem;
}

.carVacio{
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: white;
}