.detalle{
    width: 50%;
    background-color: black;

}

.detail{
    box-shadow: 10px 10px 7px 2px currentColor;
    margin:auto;
}

.talle{
    font-size: 1em;
    color: white;
    font-family: "Staatliches", cursive;
    margin-top: 1rem;
}
.precio{
    margin: auto;
}

.comprar{
    margin-top: 2rem;
}
.clase{
    margin-top: 2rem;
}

@media (min-width: 481px) and (max-width: 787px) {
    .talle{
        margin-left: -1.5rem;
        margin-top: 2rem;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .talle {
        margin-left: 0rem;
        margin-top: 2rem;
    }
}
    
