@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fira+Sans+Extra+Condensed:wght@100&family=Staatliches&display=swap');

.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans Extra Condensed';
}

.nav-link{
    color: white;
    transition: color .15s ease-in-out;
}

a {
    color:white;
    text-decoration: none;
}

.bg-light {
    background-color: black!important;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, 
.navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, 
.navbar>.container-xxl {
    margin-left: 6rem;
}

.navbar-toggler-icon {
   color: white;
}

.navbar-toggler{
    margin-top: .8rem;
}

.navbar-toggler{
    margin-top: .1rem;
}
a{
    padding: .3rem;
}

@media (min-width: 481px) and (max-width: 787px) {
  
    .header{
        min-width: 481px;
        padding: 0 auto;
    }
    .bar {
        margin-left: -6rem;
    }
    
}
@media (min-width: 320px) and (max-width: 480px){
    .header{
        min-width: 320px;
        padding: 0 auto;
    }
    .bar {
        margin-left: -6rem;
    }

   
}