.carrito{
    /* padding: 0.5rem; */
    /* background-color: rgb(53, 53, 53);
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.6); */
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 10px;
}

.boton{
    margin-bottom: 1rem;
    margin: 1rem;
}

.boton2{
    margin-bottom: 1rem;
    border-radius: 5px;
    border-style: none;
    background-color: #0a0a0a;
    color: white;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    width: 30%;
    transition: color .15s ease-in-out;
    font-size: 1em;
}

.agregar{
    
    margin-bottom: 1rem;
    border-radius: 5px;
    border-style: none;
    background-color: #0a0a0a;
    color: white;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    width: 30%;
    transition: color .15s ease-in-out;
    font-size: 1em;
    
}

.boton2:hover{
    color: #303233;
}

.span{
    padding: 1rem;
    font-family: "Staatliches", cursive;
    color: white;
}

.btn{
    border-radius: 5px;
    border-style: none;
    background-color: #0a0a0a;
    color: white;
}

@media (min-width: 481px) and (max-width: 787px) {
  .boton{
    margin: 0;
  } 
}
@media (min-width: 320px) and (max-width: 480px){
    .boton{
        margin: 0;
    } 
    .boton2{
        font-size: .7em;
    }
    .boton{
        margin-right: -2rem;
    }
    .agregar{
        margin-right: -2rem;
      }
}