.card{
    height: fit-content;
    
    margin: 10px 10px 10px 10px;
    position: relative;
    background-color: #242e30;
    opacity: 80%;
    border-radius: 1rem;
}
.unaCard{
    width: 240px;
    height: 370px;
}

.photo{
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 220px;
    width: 220px;
    margin-left: .6rem;
}

.titulo{
    font-size: 1em;
    color: white;
    font-family: 'Fira Sans Extra Condensed';
}

.precio{
    color: white;
}

.card-text:last-child {
    margin-bottom: 0;
    font-family: 'Fira Sans Extra Condensed';
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .photo{
        width: 138px;
        height: 137.75px;
    } 
    .unaCard {
        width: 159px;
        height: 280px;
    } 
}